package

${package.Mapper}
;
    ${package.Entity}.${entity};
    ${superMapperClassPackage}
        ;

/**
 * <p>
  * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author Ian
 * @since ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}